.joke{
  display: flex;
  border-bottom: 2px solid #000;
  padding: 2rem;
}

.joke-buttons{
  margin: 1rem 2rem;
  display: flex;
}

.joke-buttons i {
  font-size: 4rem;
  transition: all .2s ease-in-out;
  cursor: pointer;

}
.joke-buttons i:nth-child(1):hover {
  color: #2ecc71 !important;
  transform: scale(1.1);
}


.joke-buttons i:hover {
  color: #db0a5ab3 !important;
  transform: scale(1.1);
}

.vote{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border: 2px solid #8542f8;
  text-align: center;
  font-size: 4rem;
  margin: 0 1rem;

  font-weight: 300;
  transition: .2s ease-in;
  box-shadow: 3px 4px 4px 5px #ccc;
}

.joke-section{
  display: flex;
  width: 70%;
  justify-content: center;
  font-size: 1.8rem;
  text-align: center;
}

.exression{
  font-size: 3rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 3px 2px 3px 2px #ccc;
  height: 15%;
  transition: .2s ease-in-out;

}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.exression:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}