@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.jokelist{
  display: flex;
  width: 80%;
  height: 80%;
}

.side{
  background: #00b5cc;
  width: 18%;
  box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
}

.side h1{
font-size: 3.6rem;
text-align: center;
}

.side img {
  width: 50%;
  transition: .2s ease-in-out;
  box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.2);
  border-radius: 50%;
  
}

.side img:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.side .dads {
  font-weight: 900;
  color: black;
  letter-spacing: .8rem;
  text-align: center;
  border-bottom: 1px solid #000;
}


.jokes-area{
  background: rgb(255, 255, 255);
  width: 72%;
  height: 90%;
  overflow: scroll;
  box-shadow: 6px 2px 28px -1px rgba(48, 48, 48, 0.247);
  align-self: center;
  transition: .2s ease-in-out;
}

.btn{
  position: relative;
  margin-top: 2rem;
  width: 55%;
  padding: .6rem 1.2rem;
  border-radius: 1.5rem;
  border: 2px solid #fff;
  font-size: 1.8rem;
  letter-spacing: .7rem;
  transition: .3s ease-out;
  font-weight: 700;
  box-shadow: 6px 2px 28px -1px rgba(48, 48, 48, 0.247);
  color: #fff;
  cursor: pointer;
  background: rgb(217,201,55);
  background: linear-gradient(90deg, rgba(217,201,55,1) 21%, rgba(70,242,252,1) 78%);
}

.btn:hover{
  transform: scale(1.1);
  box-shadow: 12px 6px 28px -1px rgba(48, 48, 48, 0.647);
}

.btn:active{
  top: .5rem;

}

.btn::after{
 
}

.loading {
  font-size: 7rem;
  text-align: center
}


