.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(217,201,55);
  background: linear-gradient(90deg, rgba(217,201,55,1) 21%, rgba(70,242,252,1) 78%);
  }