*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One&display=swap');

html{
  font-size: 10px;

}


body {
  font-family: 'Rubik', sans-serif;
  color: #606061;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 1rem 0;
}

h1{
  font-size: 4rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.7;
}